<div class="container py-5">
    <h2>Admin Paneli</h2>
    <table class="table table-bordered table-hover bg-white shadow-sm mt-4">
        <thead>
            <tr>
                <th>Başlık</th>
                <th>Önem</th>
                <th>Durum</th>
                <th>Atandığı Tarih</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
			
		</tbody>
    </table>
</div>
